@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

 .container .headerInfo h3{
   font-size: 30px;
   color:#333;
}

 .container .headerInfo h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .headerInfo h1{
   font-size: 50px;
   color:#333;
}

.container .headerInfo h1 span{
   color:crimson;
}

.container .headerInfo p{
   font-size: 25px;
   margin-bottom: 20px;
}



.container .content .btn:hover{
   background: rgb(0, 8, 159);
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #e5f7ff;
}

.form-container form{
   padding:20px;
   border-radius: 6px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 480px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 30px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 16px;
   margin:12px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:rgb(0, 0, 0);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: rgb(24, 20, 249);
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: rgb(212, 206, 30);
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}
#icons{
   margin-left: 10px;
   border-radius: 50%;
}
#bell{
   margin-left: 5px;
}
a img{
   border-radius: 50%;

}
#cards{
   display: flex;
   flex-direction: row;
   
}
#profile img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
}
.profile_container{
   margin-top: 30px;
}
.containerProfile{
   display: flex;
   flex-direction: row;
   padding: 5px;
   margin: 5px;
}
.headerInfo{
   margin: 10px;
   margin-right: 10px;
}
.col_information{
   display: flex;
   flex-direction: row;

}
.col1 img{
   height: 150px;
   width: 150px;
   border-radius: 50%;

}